
*.mp4
Odessey2/Binaries/Win64/Odessey2.exe
Odessey2/Binaries/Win64/Odessey2.exp
Odessey2/Binaries/Win64/Odessey2.pdb
Odessey2/Content/Assets/worldkey82.uasset
Odessey2/Content/Assets/Audio/worldkey82.uasset
